/* CSS Formatting Document */

/* Overall Page Formatting */
body {
    color: #000000;
    background-color: #FFFFFF;
    font: 12pt Georgia, "Times New Roman", Times, serif;
    border: 5px solid #000000; /* thick black border */
    margin: 15px;
}

p {
    padding: .5em;
}

h1, h2, h3 {
    padding-bottom: .5em;
}

ul, ol {
    padding-left: 1.5em;
    padding-bottom: .5em;
}

/* Link Formatting */
a:link {
    color: #084048;
}

a:visited {
    color: #10A7A5;
}

a:hover {
    color: #CC6600;
}

/* Definition Lists */
dt {
    font-size: 1.1em;
    font-weight: bold;
    color: orangered;
    margin: 5px;
}

dd {
    margin-left: 50px;
    padding-bottom: 1em;
}

/* Header Formatting */
header {
    height: 99px;
    padding-left: 250px;
    padding-top: 10px;
    margin-left: 10px;
    margin-top: 10px;
    background-image: url("../_images/przlogo.gif");
    background-position: top left;
    background-repeat: no-repeat;
}

header h1, 
header h2 {
    font-family: Garamond, serif;
}

header h1 {
    font-size: 2em;
    font-weight: bold;
}

header h2 {
    font-size: 1.6em;
    font-style: italic;
    text-align: center;
}

/* Navigation Formatting */
nav {
    font-family: "Gill Sans", Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    padding: 10px 20px;
}

nav li {
    display: inline;
    padding: 5px 1em;
    border-right: 1px solid #40A7A5;
}

nav li:last-child {
    border-right: none;
}

/* Main Section Formatting */
main {
    padding: 20px;
    background-image: url("../_images/prz_watermark.gif");
    background-repeat: no-repeat;
    background-position: center right;
}

main h1 {
    font-size: 1.6em;
}

main h2 {
    font-size: 1.3em;
}

main h3 {
    font-size: 1.1em;
}

main h1, 
main h2, 
main h3 {
    font-family: "Gill Sans", Arial, Helvetica, sans-serif;
}

/* Bigger list items for Attorneys + Legal Links pages */
ul.bigger li {
    font-size: 1.2em;
    padding-top: .5em;
    padding-bottom: .5em;
}

/* Ordered lists in main section */
main ol {
    padding-bottom: .8em;
    list-style-type: upper-roman;
}

main ol ol {
    list-style-type: lower-alpha;
}

/* Footer Formatting */
footer {
    background-color: #A1D1D1;
    padding: 15px;
}

footer p {
    font-size: .8em;
    font-weight: bold;
    text-align: center;
    line-height: 1.8em;
}

